html,body{
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: transparent;
    font-family: Verdana;
}

#chessboard{
    box-shadow: 2px 2px 12px 0px #333;
    height: 100px;
    width: 100px;
}

#panel{
    box-shadow: 2px 2px 6px 0px #333;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 4px;
    z-index: 4;
    background: white;
    text-align: center;
}

#panel button{
    display: inline-block;
    margin-top: 4px;
    margin-left: 8px;
}

#panel .links{
    margin-top: 8px;
}

.red{
    color: red;
}

.rank{
    font-weight: bold;
    font-size: 180%;
    font-family: -apple-system-body;
    text-shadow: -4px 0 white, 0 4px white, 4px 0 white, 0 -4px white;
}

.cg-wrap coords.ranks, .cg-wrap coords.files{
    font-size: 12px;
}


@keyframes fadeSlide {
    from {
      opacity: 100%;
      top: 46%;
    }
  
    to {
      opacity: 0%;
      top: 55%;
    }
  }